@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400;1,600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;
  
    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 16; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 100%, 46%);
    --first-color-second: hsl(var(--hue-color), 100%, 21%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: rgb(230, 230, 230);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    --base: hsl(var(--hue), 95%, 50%);
    --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
    --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);
  
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --title-font: 'Titillium Web', sans-serif;
    --second-font: 'Titillium Web', sans-serif;
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  font-family: var(--second-font);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.header {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav{
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo,
.nav__toggle{
  color: var(--title-color);
  font-weight: var(--font-medium);
  font-family: var(--second-font);
}
.nav__logo{
  width: 40px;
}
.nav__toggle{
  font-size: 1.1rem;
  cursor: pointer;
}
.nav__toggle:hover{
  color: var(--first-color);
}

@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 10px rgb(0 0 0 / 60%);;
    border-radius: 0 0 1.5rem 1.5rem;
    transition: .3s;
  }
}

.nav__list{
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.nav__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav__link:hover{
  color: var(--first-color);
}
.nav__icon{
  font-size: 1.2rem;
}
.nav__close{
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: hsl(340, 82%, 52%);
}
.nav__close:hover{
  color: hsl(356, 82%, 52%);
}

.nav__btns{
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* show menu */
.show-menu{
  top: 0;
  z-index: 5;
}

/* Active link */
.active-link{
  color: var(--first-color);
}

/*==================== HOME ====================*/

.home__container{
  gap: 1rem;
  position: relative;
}
.home__content{
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social{
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}
.home__social-icon{
  font-size: 1.25rem;
  color: var(--first-color);
  border: .5px dashed #f8f8f8;
  transition: all 500ms;
}
.home__social-icon:hover{
  color: var(--first-color-alt);
  transform: rotate(360deg);
}

.home__data{
  grid-column: 1/3;
  text-align: center;
}
.home__title{
  font-size: var(--big-font-size);
  font-family: var(--second-font);
}
.home__subtitle{
  font-size: var(--h1-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
  font-family: var(--title-font);
  font-style: italic;
}
.text-gradient {
  background-image: -webkit-linear-gradient( 45deg, rgb(249 6 14) 25%, rgb(249 241 6) );
  background-clip: text;
  -webkit-background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-text-fill-color: transparent;
}

.home__img{
  width: 100%;
  position: relative;
}
.image-wrapper {
  border-radius: 50%;
  overflow: hidden;
  height: 200px;
  width: 200px;
  position: relative;
}
.image-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}
.image-hover:hover {
  opacity: 1;
}
.animated-color{
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} 

/*==================== ABOU ====================*/
.about__img{
  width: 200px;
  border-radius: .5rem;
  justify-self: center;
  align-self: center;
}
.about__description{
  text-align: center;
  margin-bottom: var(--mb-2-5);
}
.about__buttons{
  display: flex;
  justify-content: center;
}


/*==================== BUTTONS ====================*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
}
.button:hover{
  background-color: var(--first-color-alt);
}
.button:active{
    scale: .9;
}
.button--flex{
  display: inline-flex;
  align-items: center;
}
.box--shadow{
  box-shadow: 0px 3px 10px 0px var(--first-color);
}

.button__icon{
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: .3s;
}


@media screen and (min-width: 768px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    .nav{
      height: calc(var(--header-height) + 1.5rem);
      column-gap: 1rem;
    }
    .nav__icon,
    .nav__close,
    .nav__toggle{
      display: none;
    }
    .nav__list{
      display: flex;
      column-gap: 2rem;
    }
    .nav__menu{
      margin-left: auto;
    }
}

@media screen and (min-width: 1024px) {
    .nav{
      font-size: 1.6rem;
    }
    .nav__list .nav__item a{
      font-size: 1rem;
    }
}